// Hamburger Icons Component Styles
// by @jhe_xo

$button-width: 96px
$button-height: 96px
$bar-thickness: 8px
$button-pad: 18px
$button-bar-space: 12px
$button-transition-duration: 0.3s

// First some resets and starting config
.section--buttons
	.title
		margin-bottom: .65em

.buttons
	margin: 1.5rem 0 0

.button
	&__info
		display: inline-block
		vertical-align: top
		line-height: 56px
		padding-left: 20px
		background: $color-light
		transition: 0.3s ease-in-out

		.subtitle
			margin-bottom: 0.83em

.button-wrapper
	&:nth-child(1)
		.button__info
			color: $button-blue

	&:nth-child(2)
		.button__info
			color: $button-pink

	&:nth-child(3)
		.button__info
			color: $button-green

	&:nth-child(4)
		.button__info
			color: $button-orange

	&:hover
		&:nth-child(1)
			.button__info
				color: darken($button-blue, 15)

		&:nth-child(2)
			.button__info
				color: darken($button-pink, 15)

		&:nth-child(3)
			.button__info
				color: darken($button-green, 15)

		&:nth-child(4)
			.button__info
				color: darken($button-orange, 15)

.c-hamburger

	position: relative
	overflow: hidden
	margin: 0 0 10px
	padding: 0
	width: $button-width
	height: $button-height
	font-size: 0
	text-indent: -9999px
	appearance: none
	box-shadow: none
	border-radius: none
	border: none
	cursor: pointer
	transition: background 0.3s

	&:focus
		outline: none

	span
		display: block
		position: absolute
		top: 44px
		left: $button-pad
		right: $button-pad
		height: $bar-thickness
		background: white

		&::before,
		&::after
			position: absolute
			display: block
			left: 0
			width: 100%
			height: $bar-thickness
			background-color: #fff
			content: ""

		&::before
			top: -20px

		&::after
			bottom: -20px

	// The first element(rotate bars)

	&--rot
		background-color: #28aadc

		span
			transition: transform $button-transition-duration

		&.is-active
			background-color: #166888

			span
				transform: rotate(90deg)

	// Second Element - The X transform
	&--htx
		background-color: #ff3264

		span
			transition: background 0s $button-transition-duration

			&::before,
			&::after
				transition-duration: 0.3s, 0.3s
				transition-delay: 0.3s, 0s

			&::before
				transition-property: top, transform
			&::after
				transition-property: bottom, transform

		&.is-active
			background-color: #cb0032

			span
				background: none

				&::before
					top: 0
					transform: rotate(45deg)

				&::after
					bottom: 0
					transform: rotate(-45deg)

				&::before,
				&::after
					transition-delay: 0s, 0.3s

	// Third Element - The Left Row Animaiton
	&--htla
		background-color: #32dc64

		span
			transition: transform $button-transition-duration

			&::before
				transform-origin: top right
				transition: transform 0.3s, width 0.3s, top 0.3s

			&::after
				transform-origin: bottom right
				transition: transform 0.3s, width 0.3s, bottom 0.3s

		&.is-active
			background-color: darken(#32dc64, 20)

			span
				transform: rotate(180deg)

				&::before,
				&::after
					width: 50%

				&::before
					top: 0
					transform: translateX(38px) translateY(4px) rotate(45deg)

				&::after
					bottom: 0
					transform: translateX(38px) translateY(-4px) rotate(-45deg)

	// Fourth Element - The Right Row Animation
	&--htra
		background-color: #ff9650

		span
			transition: transform $button-transition-duration

			&::before
				transform-origin: top left
				transition: transform 0.3s, width 0.3s, top 0.3s

			&::after
				transform-origin: bottom left
				transition: transform 0.3s, width 0.3s, bottom 0.3s

		&.is-active
			background-color: #e95d00

			span
				transform: rotate(180deg)

				&::before,
				&::after
					width: 50%

				&::before
					top: 0
					transform: translateX(-8px) translateY(4px) rotate(-45deg)

				&::after
					bottom: 0
					transform: translateX(-8px) translateY(-4px) rotate(45deg)


