doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Happy Burger @Jhe_XO
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon", type="image/png", href="images/favicon.png")

  body

    main.container
      .grid
        .col.col--8-of-12.col--centered.buttons-wrapper

          button.button.c-hamburger.c-hamburger--rot
            span toggle menu

          button.button.c-hamburger.c-hamburger--htx
            span toggle menu

          button.button.c-hamburger.c-hamburger--htla
            span toggle menu

          button.button.c-hamburger.c-hamburger--htra
            span toggle menu



    script(src="js/main.js")
