doctype html
html(lang="pt-BR")
  head
    meta(charset="utf-8")
    title Happy Burger - Menu Hamburger Icon Animations w/ CSS3
    meta(name="description", content="A set of hamburger menu icons animations. Check it out and more on my portifolio.")
    meta(name="author", content="Jhe_XO")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon", type="image/png", href="images/favicon.png")

  body

    main.container
      .grid.section.section--buttons
        .col.col--8-of-12.col--centered
          h1.title Menu Hamburger Animations
          p.info Clique em cada botão para alterar seu estado e ativar a animação.

          .buttons
            .button-wrapper
              button.button.c-hamburger.c-hamburger--rot
                span toggle menu
              .button__info.col--6-of-12
                h2.subtitle Rotate Burger Animation
            .button-wrapper
              button.button.c-hamburger.c-hamburger--htx
                span toggle menu
              .button__info.col--6-of-12
                h2.subtitle X Transform Animation
            .button-wrapper
              button.button.c-hamburger.c-hamburger--htla
                span toggle menu
              .button__info.col--6-of-12
                h2.subtitle Left Arrow Animation
            .button-wrapper
              button.button.c-hamburger.c-hamburger--htra
                span toggle menu
              .button__info.col--6-of-12
                h2.subtitle Right Arrow Animation



    script(src="js/main.js")
